html, body {
    overflow-y: auto; /* Hide vertical scrollbar */
    overflow-x: auto; /* Hide horizontal scrollbar */
}

#foreground {
    margin: 10px;
    padding: 10px;
}

#background-animation {
    position: absolute;
    display: flex;
    z-index: -1;
}